<a href="https://colab.research.google.com/github/amr722/BTE-320-Assignments/blob/main/InClassAssignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi= 3.14
radius= float(input("Please provide the radius: "))
height= float(input("Please provide the height: "))

area= 2 * pi * radius ** 2 + 2 * pi * radius * height

print(f"Area of a cylinder: {area} sq.ft ")

Please provide the radius: 5
Please provide the height: 6
Area of a cylinder: 345.4 sq.ft

In [ ]:
number_1 = float(input ("Please enter first number:"))
number_2 = float(input ("Please enter second number:"))
symbol = input ("Please enter an operator: ")

if symbol == "+":
  print(f' {number_1} + {number_2} = {number_1+ number_2}')
elif symbol == "-":
  print(f'{number_1} - {number_2} = {number_1 - number_2}')
elif symbol == "*":
  print(f'{number_1} * {number_2} = {number_1 * number_2}')
elif symbol == "/":
   print(f'{number_1} / {number_2} = {number_1 / number_2}')
elif symbol == "//":
   print(f'{number_1} // {number_2} = {number_1 // number_2}')
elif symbol == "**":
   print(f'{number_1} ** {number_2} = {number_1 ** number_2}')
elif symbol == "%":
   print(f'{number_1} % {number_2} = {number_1 % number_2}')
else:
  print("invalid input")

Please enter first number:12
Please enter second number:5
Please enter an operator: %
12.0 % 5.0 = 2.0

In [ ]:
for numberHours in range (1,9):
  fee = 5 + 2.5 * numberHours
  if fee < 10:
    fee = 10.0
  elif fee >20:
    fee = 20.0`
  print(numberHours, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
for advertisingAmount in range (0, ):
  numberAttendees = 20 + 2 * (advertisingAmount)^(1/2)
  revenue= numberAttendees * 10
  profit = revenue - 200 - advertisingAmount
  if numberAttendees<=20:
    profit= revenue-200
  elif numberAttendees>=20:
    profit= revenue - 200 - advertisingAmount
  print( advertisingAmount, profit)

In [ ]:
for adMoney in range(0,201,25):
  revenue = (20 + 2 * round((adMoney)** .5 ))*10
  costs= 200 + adMoney
  profit= revenue- costs
  print(adMoney, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
import random

play = input("Do you want to play a game (yes/no)? ").capitalize()

while play == "Yes":
  player1= input ("Player: Choose rock, paper, or scissors: ").capitalize()
  player2 = random.choice(["rock" , "paper" , "scissors"]).capitalize()

  print (f' Player chose {player1}; Computer chose {player2}')

  if player1 == player2:
    print("Draw")
  elif (player1 == "rock" and player2 == "scissors" ) or (player1 == "scissors" and player2 == "paper") or (player1 == "paper" and player2 == "rock"):
    print ("Player wins! ")
  else:
    print("Computer wins!")

  play = input ("Do you want to play a game (yes/no)? ").capitalize()
print("Good day...")

In [ ]:
lst = []

num= float(input("Please enter a number: "))

while num != 0.0:
  lst.append(num)
  num= float(input("Please enter a number: "))
lst.sort(reverse=True)
print(lst)

Please enter a number: 6
Please enter a number: 4
Please enter a number: 5
Please enter a number: 7
Please enter a number: 9
Please enter a number: 0
[9.0, 7.0, 6.0, 5.0, 4.0]

In [ ]:
months= {}

names= ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers=[ 1,2,3,4,5,6,7,8,9,10,11,12]

for idx in range(len(numbers)):
  months[numbers[idx]]= names[idx]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
months= {}

names= ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers=[ 1,2,3,4,5,6,7,8,9,10,11,12]

cntr= 0
for num in numbers:
  months[num]= names[cntr]
  cntr += 1
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
months= {}

names= ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers=[ 1,2,3,4,5,6,7,8,9,10,11,12]

for num in numbers:
  months[num]= names[num-1]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
counts= {}

while len(counts) <5:
  key= input("Give a string: ")

  if key not in counts:
    counts[key]= 1
  else:
    counts[key] += 1
counts

Give a string: a
Give a string: b
Give a string: a
Give a string: c
Give a string: a
Give a string: b
Give a string: b
Give a string: d
Give a string: e

{'a': 3, 'b': 3, 'c': 1, 'd': 1, 'e': 1}

In [ ]:
def calcFee(hours):
  x= input("Hours parked: ")
  parking_fee= 2.5*x +5
  print(f'Hours parked:{x}')
  if x >0:
    parking_fee= 2.5*x +5
    print(parking_fee)
  elif x>10:
    print("No parking fee")
  else:
    print("No parking fee")

In [ ]:
def calcFee(hours):
  fee= 5 + 2.5 *hours
  if fee <10.0:
    fee= 10.0
  elif fee>= 20.0:
    fee= 20.0
  print(f'Fee: $ {fee}')

def main():
  numHours= int(input("Enter number of hours parked:"))
  fee=calcFee(numHours)
main()

In [ ]:
def reverse(s):
  if len(s) <= 1 :
    return s
  else:
    return s[-1] + reverse(s[:-1])

reverse("Hello")

'olleH'

In [ ]:
def calcFee(hours):
  assert hours >= 0, "Number of hours must be non-negative"
  fee= 5 + 2.5 *hours
  if fee <10.0:
    fee= 10.0
  elif fee>= 20.0:
    fee= 20.0
  print(f'Fee: $ {fee}')

def main():
  try:
    numHours= int(input("Enter number of hours parked:"))
    calcFee(numHours)
  except ValueError:
    print("Cannot cast to int().")
main()

if __name__ == "__main__":
  main()

ValueError: invalid literal for int() with base 10: '2.234567'
Weak point is "numHours= int(input("Enter number of hours parked:"))"

In [ ]:
def getValues(n):
  assert n >= 3, "..."
  L= []

  for i in range(n):
    weight = float(input("Enter weight: "))
    L.append(weight)
  return L

def calcAverage(alist):
  try:
    print(f'The avergae weight is {sum(alist[2:]) / len(alist[2:])}')
  except ZeroDivisionError:
    print("List alist is empty! ")

if __name__ == "__main__":
  try:
    n = int(input("Enter size of list: "))
    alist = getValues(n)
    calcAverage(alist)
  except ValueError:
    print("Cannot be casted as int()")

Enter size of list: 0
List alist is empty!

In [ ]:
class Greeting:
  def __init__(self, first, last):
    self.first = first
    self.last = last
  def display(self):
    print(f'Hi {self.first}')

greeting = Greeting('Donald', 'Becker')
greeting.display()

Hi Donald

In [ ]:
class Greeting:
  def __init__(self, first, last):
    self.first = first
    self.last = last
  def display(self, formal = False):
    if formal:
      print(f'Hi {self.first} {self.last}')
    else:
      print(f'Hi {self.first}')

  def __str__(self):
    return f'{self.first}, {self.last}'

greeting = Greeting('Donald', 'Becker')
other_greating = Greeting('Bob', 'Dylan')
greeting.display()
print(greeting)
print(other_greating)

Hi Donald
Donald, Becker
Bob, Dylan

In [ ]:
class Greeting:
  def __str__(self, first, last):
    self.first = first
    self.last = last
  def display(self):
    print(f'Hi {self.first}')

greeting = Greeting('Donald', 'Becker')
greeting.display()

In [ ]:
class Student:
  def __init__ (self, name, number):
    self.name = name
    self.__number = number
    self.__courses = []

  def __len__(self):
    return len(self.__courses)

  def enroll (self, course):
    if course in self.__courses:
      print (f'You have already enrolled in {course}')
    else:
      self.__courses.append(course)

  def get_courses (self):
    return self.__courses

  def get__number (self):
    return self.__number

  def set_number(self, newnumber):
    self.__number = newnumber

s1= Student ("Bob", 100 )
s2= Student ("Alice", 101)
s1.name, s2.name

('Bob', 'Alice')

In [ ]:
s1.enroll ("BTE320")

You have already enrolled in BTE320

In [ ]:
s1.enroll ("BTE422")

You have already enrolled in BTE422

In [ ]:
s1.get_courses()

[]

In [ ]:
class Dummy:
  def __init__(self,a):
    self.a = a

  def __add__(self,other):
    return self.a + other.a

  def __mul__(self,other):
    return self.a *other.a

  def __It__(self,other):
    return self.a < other.a

  def __eq__(self,other):
    return self.a == other.a

x= Dummy(3)
y= Dummy(4)

In [8]:
import math

class Point:
  def __init__(self, x, y):
    self.x =x
    self.y = y

  def distance(self, other):
    return math.sqrt( (self.x - other.x)**2 + (self.y - other.y)**2 )

In [9]:
class Rectangle:
  def __init__(self):
    self.c1 = Point(0,0)
    self.c2 = Point(0,2)
    self.c3 = Point(2,0)
    self.c4 = Point(2,2)
    self.num= 4
  def calculate_width(self):
    return self.c1.distance(self.c2)

  def calculate_length(self):
    return self.c1.distance(self.c3)

  def area(self):
    return self.calculate_width() * self.calculate_length()
square= Rectangle()
square.area()

4.0